.player {
  margin: 0 auto;
  width: 320px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid var(--background-accent);
  overflow: hidden;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .player {
    width: 600px;
  }
}
