.navigation {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  & > .list {
    font-size: 14px;
    flex-wrap: nowrap;
    @media (min-width: 768px) {
      font-size: 20px;
    }
  }
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  gap: 20px;
}
.main {
  flex-direction: row;
  gap: 20px;
}
.link {
  display: flex;
  gap: 10px;
  align-items: center;
  text-decoration: none;
  color: var(--accent-color);
  background-color: var(--background-accent);
  border: 1px solid var(--background-accent);
  padding: 8px 10px;
  border-radius: 8px;
  transition: var(--animation-mode);
  &:hover,
  &:focus {
    border: 1px solid var(--second-color);
    background-color: var(--second-color);
  }
}
.link:global(.active) {
  border: 1px solid var(--second-color);
  background-color: var(--second-color);
}
